<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.title}} : {{todo.content}}
        <i class="fa fa-trash" aria-hidden="true"
        (click)="deleteTodo(todo)"
        ></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" [(ngModel)]="title">
    <input type="text" class="form-control" [(ngModel)]="content">
    <button 
       class="btn btn-primary"
       [disabled]="!title.length || !content.length"
       (click)="addTodo()"
    >Add Todo</button>
  </div>        
</div>
